* {
  margin: 0;
  padding: 0;
  box-sizing:border-box;
}

body {
  color:black;
  font-family: Arial, Helvetica, sans-serif;
}

/* HEADER START */

header {
  padding: 20px 35px;
  background-color:darkslategrey;
}

header a {
  color:black;
text-decoration: dotted;
  color:black;
}

header nav {
  float: right;
  margin: 7px 0;
  font-weight: bold;
  margin: 0;
  font-size: 15px;
  display: flex;
}

header nav ul li {
  display: inline;
  padding: inherit;
}

header nav ul li a {
  margin: 50% 30px;
  font-weight: lighter;
  font-size: 22px;
}

header nav ul li :hover {
  background: darkslategray;
  color: white;
  border-radius: 15px;
  text-shadow: none;
}

.button {
  background-color: white;
  border:white;
  color: darkslategray;
  padding:inherit;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 50%;
  font-family: monospace;
}

header h1 {
  font-weight:bolder;
  font-size: 36px;
  color:aliceblue;
  margin: 0;
  display: inline;
}


/* HEADER STYLING END */

/* FOOTER STYLING START */

footer {
  background: darkslategray;
  width: 100%;
  padding: 40px 35px;
}

footer h2 {
  display: inline;
  color:aliceblue;
  font-size: 30px;
  margin:0;
}

footer div {
  float: right;
  line-height: 1.5;
  text-align: right;
}

footer a {
  color: aliceblue;
}


/* FOOTER STYLING END */

/* HERO STYLING START */

section {
  padding: 60px;

}

.hero {
  background-image: url("../images/dots.jpg");
  /* height: 600px; */
  background-size:contain;
  background-position: center;
  position:relative;
display: block;
text-align: center;
}

.hero-form {
  background-color: darkslategray;
  padding: 20px;
  width: 500px;
  color:aliceblue;
  border-style: solid;
  border-width: 3px;
  border-color:aliceblue;
  position: static;
  bottom: 0px;
  right: 0px;
  display:inline-block;
  padding: 60 60;
  margin:auto;
}

.hero-form p {
  margin: 5px 0 15px 0;
}

.hero-form h3 {
  font-size: 24px;
  margin: 0;
}

.form-input {
  border: 1px solid #024e76;
  display: block;
  padding: 7px 15px;
  font-size: 16px;
  color: #024e76;
  width: 100%;
  margin-bottom: 15px;
}

.hero-text {
  text-align: center;
  color:darkslategray;
}

.hero-text img {
  width: 200px;

}

.hero-form label {
  margin: 0 5px;
}

.hero-form button {
  color:darkslategray;
  background-color: white;
  border:darkslategray;
  padding:0%;
  font-size: 25px;
  border-radius: 50%;
  margin: 1px;
}

.hero-form button:hover {
  background: darkslategray;
  color: white;
  border-radius: 15px;
  text-shadow: none;
}

/* HERO STYLING END */


/* SVG IMAGES */

.my-work-img {
position: relative;
size: small;

}

.about-me-img {
  size: small;
}

.contact-me-img {
  size: small;
}

/* INTRO */

.intro {
  text-align: center;
  box-shadow: 5px 10px 15px black;
  border:  15px;
}




.intro h3 {
  font-size: 55px;
  color: white;
  margin-bottom: 35px;
  padding: 0 100px 20px 100px;
  border-bottom: 3px solid;
  border-color: white;
  justify-content: row;
}

.about-mee {
  text-align: center;
  color:aliceblue;
}



.flex {
  display: flex;
  justify-content: space-around;

}

.intro div {
  margin-bottom: 80px;
}

.intro img {
  width: 15%;
  margin: 10px 0;
}

.intro h3 {
  color:white;
  font-size: 46px;
  margin-top: 10px;
  border-radius: 0%;
  border-color:aliceblue;
}

.intro span {
  font-size: 38px;
}

.section-title {
  font-size: 55px;
  color: #024e76;
  margin-bottom: 35px;
  padding: 0 100px 20px 100px;
  display: inline-block;
  border-bottom: 3px solid;
}

.steps {
  text-align: center;
  margin: 0;
  padding: 0 100px 20px 100px;
  background: darkslategray;
}

.steps ul li {
background-color: darkslategray;
display: grid;
grid-template-rows: auto;
color: white;
}

.steps h4 {
  color: white;
}

.intro h4 {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.thumbnail:hover {
  position: relative;
  text-align: center;
  top:auto;
  left:auto;
  width:500px !important;
  height:auto;
  display:inline-block;
  z-index:999;

}



.steps h5 {
  position: relative;
  text-align: right;
  color:aliceblue
}

/* MEDIA SCREEN  */

@media screen and (max-width:980px) {
  header {
    padding-bottom: 0;
    justify-content: center;
    position: relative;
  }

  header h1 {
    width: 100%;
    text-align: center;
}

header nav ul {
  margin-top: 20px;
  width: 100%;
  justify-content:center;
}

header nav ul li a {
  font-size: 20px;
}

header nav ul li a:hover {
  background: darkslategray;
  color: white;
  border-radius: 15px;
  text-shadow: none;
}

footer h2, footer div {
  text-align: center;
  width: 100%;
}

.hero-cta, .hero-form {
  width: 100%;
}

.hero-form button:hover {
  background-color: darkslategray; 
}

.hero-cta {
  text-align: center;
}

.section-title {
  width: 80%;
}

.trainer {
  flex: 0 70%;
}

.contact-info iframe{
  flex: 1 100%;
}

.contact-form button:hover {
  color: white;
  background: darkslategray;
}

section {
  padding: 30px 15px;
}

.step h3 {
  flex: 1 100%;
  text-align: center;
}

.step-info {
  flex: 2 100%;
  text-align: center;
  justify-content: center;
}

.step-img {
  flex: 0 32%;
  margin-right: 0;
  margin-top: 15px;
  margin-bottom: 15px;
}

.step-text {
  flex: 100%;  
}
}



/* MEDIA QUERY FOR TABLETS AND SMALLER */

@media screen and (max-width: 768px) {
  section {
    padding: 30px 15px;
  }
  
}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {
  .hero-form button {
    width: 100%;
  }

  .section-title {
    width: 95%;
  }

  .intro p {
    width: 100%;
  }

  .trainer {
    flex: 0 100%;
  }

  .contact-info {
    text-align: center;
  }

  .contact-info > * {
    flex: 0 100%;
  }
  
  }

  @media screen and (max-width: 610px) {
    .intro h3 {
      padding: 10px;
    }

    img {
      width: 100% !important;
    }
    
 }
